<main
  class="w-full h-screen pt-navbar-size bg-dark-purple chat-background-with-gradient flex flex-col justify-start items-center">
  <div class="flex flex-row justify-start items-start h-full w-full">
    <div class="bg-charleston-green w-left-chat-menu h-full shadow-sm flex flex-col justify-start overflow-y-auto direction-rtl">
      <div
        class="w-full py-3 flex flex-row slide-in-top justify-start items-center select-none cursor-pointer direction-ltr transition ease-in-out duration-300"
        *ngFor="let chat of chatService.chats()"
        (click)="chatService.selectChat(chat.id)"
        [ngClass]="[
          chat.id === chatService.selected() ? 'bg-spanish-viridian' : 'bg-raisin-black',
          chat.id !== chatService.selected() ? 'hover:bg-charleston-green' : ''
        ]"
      >
        <img [src]="chat.interlocutor.avatar" alt="avatar" class="w-12 rounded-[12px] mx-3">
        <div>
          <h1 class="font-bold text-base">
            {{ chat.interlocutor.username | titlecase | truncate : 15 }}
          </h1>
          <div
            *ngIf="chat.id === chatService.selected(); else elseBlock"
            class="font-normal text-sm w-44 overflow-clip whitespace-nowrap"
          >
            <p class="animated-to-scroll">
              {{ chat.messages.length > 0 ? chat.messages[chat.messages.length - 1].content : "" }}
            </p>
          </div>
          <ng-template #elseBlock>
            <p class="font-normal text-sm">
              {{ (chat.messages.length > 0 ? chat.messages[chat.messages.length - 1].content : "") | truncate : 20 }}
            </p>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="flex flex-col justify-start items-start w-full min-w-fit h-full">
      <div class="w-full h-full overflow-y-auto overflow-x-hidden flex flex-col justify-start scroll-smooth" #wrapper>
        <div #messages
             *ngFor="let message of chat()?.messages"
             [ngClass]="(message && message.sender.username === userService.user().username) ? 'flex-row-reverse' : 'flex-row'"
             class="w-full flex justify-start"
        >
          <app-message [message]="message"/>
        </div>
        <div class="w-full h-2 opacity-0" #anchor></div>
        <div class="w-full px-3 pb-3 flex flex-row justify-around items-center sticky right-0 bottom-0">
          <input
            class="w-full h-10 bg-charleston-green text-sm px-4 py-2 border focus:outline-0 border-white-80 rounded-xl"
            [(ngModel)]="text"
            (keyup.enter)="sendMessage()"
          >
          <button
            class="w-10 h-10 bg-spanish-viridian ml-3 rounded-xl flex items-center justify-center"
            (click)="sendMessage()"
          >
            <img src="assets/arrow.svg" alt="arrow" class="h-[45%]">
          </button>
        </div>
      </div>

    </div>
  </div>
</main>





