<main
  class="w-full h-screen pt-navbar-size bg-dark-purple flex flex-col justify-start items-center">
  <div class="flex flex-row justify-start items-start h-full w-full">
    <div class="bg-charleston-green w-96 h-full flex flex-col justify-start overflow-y-auto direction-rtl">
      <div
        class="w-full py-3 flex flex-row justify-start items-center select-none cursor-pointer direction-ltr transition ease-in-out duration-300"
        *ngFor="let chat of chatService.chats()"
        (click)="chatService.selectChat(chat.id)"
        [ngClass]="[
          chat.id === chatService.selected() ? 'bg-spanish-viridian' : 'bg-raisin-black',
          chat.id !== chatService.selected() ? 'hover:bg-charleston-green' : ''
        ]"
      >
        <img src="/assets/avatar.png" alt="avatar" class="w-12 rounded-[12px] mx-3">
        <div>
          <h1 class="font-bold text-base">
            {{ chat.interlocutor.username | titlecase }}
          </h1>
          <div
            *ngIf="chat.id === chatService.selected(); else elseBlock"
            class="font-normal text-sm w-44 overflow-clip whitespace-nowrap"
          >
            <p class="animated-to-scroll">
              {{ chat.messages[chat.messages.length - 1].content }}
            </p>
          </div>
          <ng-template #elseBlock>
            <p class="font-normal text-sm">
              {{ chat.messages[chat.messages.length - 1].content | truncate : 20 }}
            </p>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="w-full h-full overflow-y-auto flex flex-col justify-start scroll-smooth duration-1000" #wrapper>
      <div class="w-full flex" #messages
           *ngFor="let message of chat()?.messages"
           [ngClass]="message?.senderUsername === userService.user().username ? 'flex-row-reverse' : 'flex-row'"
      >
        <app-message [message]="message"/>
      </div>
    </div>
  </div>
</main>





