<div
  class="w-full h-full overflow-y-auto overflow-x-hidden flex flex-col justify-start scroll-smooth"
  #wrapper
>
  <ng-container *ngIf="chat() as chat">
    <div
      #messages
      *ngFor="let message of chat.messages"
      [ngClass]="
        message && senderIsAuthUser(message) ? 'flex-row-reverse' : 'flex-row'
      "
      class="w-full flex justify-start"
    >
      <app-message [message]="message" [chat]="chat" />
    </div>
  </ng-container>

  <div
    #anchor
    class="w-full h-full flex items-center justify-center"
    [ngClass]="selected() === undefined ? '' : 'opacity-0'"
  >
    <h1
      class="font-bold text-4xl mb-5 drop-shadow-md slide-in-bottom"
      *ngIf="selected() === undefined"
    >
      Chat not Selected
    </h1>
  </div>
  <div
    class="w-full px-3 pb-3 flex flex-row justify-around items-center sticky right-0 bottom-0"
    *ngIf="selected() !== undefined"
  >
    <input
      class="w-full h-10 bg-charleston-green shadow-md shadow-charleston-green text-sm px-4 py-2 border focus:outline-0 border-white-80 rounded-xl"
      [(ngModel)]="text"
      (keyup.enter)="sendMessage()"
    />
    <button
      class="w-10 h-10 bg-spanish-viridian ml-3 rounded-xl flex items-center justify-center"
      (click)="sendMessage()"
    >
      <img
        src="../../../assets/arrow.svg"
        alt="arrow"
        class="h-[45%]"
        height="32"
        width="20"
      />
    </button>
  </div>
</div>
