<a
  class="w-full h-20 py-3 flex flex-row slide-in-top justify-start items-center select-none cursor-pointer direction-ltr transition ease-in-out duration-500"
  [routerLink]="chat.id"
  *ngIf="getOtherUser() as otherUser"
  [ngClass]="[
          chat.id === selected() ? 'bg-spanish-viridian' : 'bg-raisin-black',
          chat.id !== selected() ? 'hover:bg-charleston-green' : ''
        ]"
>
  <app-avatar
    [username]="otherUser.email"
    [styles]="['w-12', 'rounded-[12px]']"
    class="mx-3 w-12"
  />
  <div>
    <h1 class="font-bold text-base">
      {{ otherUser.email | titlecase | truncate : 15 }}
    </h1>
    <div
      *ngIf="chat.id === selected(); else elseBlock"
      class="font-normal text-sm w-44 overflow-clip whitespace-nowrap"
    >
      <p class="animated-to-scroll">
        {{ chat.messages.length > 0 ? chat.messages[0].content : "" }}
      </p>
    </div>
    <ng-template #elseBlock>
      <p class="font-normal text-sm">
        {{ (chat.messages.length > 0 ? chat.messages[0].content : "") | truncate : 20 }}
      </p>
    </ng-template>
  </div>
</a>
