<nav
  class="w-full sticky shadow-xl z-10 top-0 left-0 h-navbar-size bg-charleston-green text-white flex flex-row justify-between items-center">
  <div *ngIf="isLoggedIn()" class="px-2 grid grid-cols-3 w-left-nav-menu gap-1">
    <a class="navbar-button text-center" routerLink="/search">Search</a>
    <a class="navbar-button text-center" routerLink="/chats">Chats</a>
    <a class="navbar-button text-center" routerLink="/profile">Profile</a>
  </div>
  <div class="grid grid-cols-3 w-full min-w-fit" *ngIf="isLoggedIn()">
    <div></div>
    <div class="px-4 py-1 text-center">
      <p *ngIf="interlocutor() && router.url === '/chats'" class="">
        <span class="font-light">Chat with: </span><span class="select-all font-medium">{{ (interlocutor()?.username || "") | titlecase | truncate:15 }}</span>
      </p>
    </div>
    <div class="px-4 py-1 select-all text-right">
      {{ username() }}
    </div>
  </div>

  <!--not logged in-->
  <div *ngIf="!isLoggedIn()" class="mx-2 grid grid-cols-2 w-1/5">
    <a class="navbar-button text-center" routerLink="/login">Login</a>
    <a class="navbar-button text-center" routerLink="/register">Register</a>
  </div>
</nav>
