<main
  class="w-full h-screen overflow-y-auto pt-navbar-size pr-scroll bg-american-purple background-with-gradient flex flex-col justify-start items-center"
>
  <div
    class="my-4 sm:my-16 w-[20rem] sm:w-[40rem] flex flex-col justify-start items-center slide-in-bottom"
  >
    <div class="flex items-center w-full">
      <label for="simple-search" class="sr-only">Search</label>
      <div class="relative w-full">
        <div
          class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
        >
          <svg
            aria-hidden="true"
            class="w-5 h-5 text-gray-400"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </div>
        <input
          type="text"
          id="simple-search"
          autocomplete="off"
          [value]="keyword()"
          (keyup)="onChanges($event)"
          class="border-2 border-white-40 text-sm rounded-lg focus:outline-0 focus:ring-0 block w-full pl-10 p-2.5 bg-charleston-green placeholder-gray-400 text-white"
          placeholder="Search"
          required
        />
      </div>
      <!--      <button class="p-2.5 ml-2 text-sm font-medium text-white rounded-lg transition ease-in-out duration-300 bg-spanish-viridian active:bg-spanish-viridian hover:bg-[#00946c]">-->
      <!--        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">-->
      <!--          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"-->
      <!--                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>-->
      <!--        </svg>-->
      <!--        <span class="sr-only">Search</span>-->
      <!--      </button>-->
    </div>
    <div
      class="min-h-fit w-full mt-2 bg-dark-purple rounded-xl border-2 border-white-40 flex flex-col justify-start items-center"
    >
      <table class="w-full table-fixed">
        <thead class="h-20 text-left">
          <tr>
            <th
              class="rounded-tl-xl pl-8"
              [ngClass]="users.length === 0 ? 'rounded-bl-xl' : ''"
            >
              Avatar
            </th>
            <th>Email</th>
            <th class="hidden sm:table-cell">First Name</th>
            <th class="hidden sm:table-cell">Last Name</th>
            <th
              class="rounded-tr-xl w-[5rem]"
              [ngClass]="users.length === 0 ? 'rounded-br-xl' : ''"
            >
              Chat
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let user of users(); index as index"
            class="bg-opacity-10 font-normal text-sm hover:bg-white-10 transition ease-in-out duration-300"
            [ngClass]="index % 2 === 0 ? 'bg-black' : 'bg-transparent'"
          >
            <td
              class="pl-7 py-5"
              [ngClass]="index === users().length - 1 ? 'rounded-bl-xl' : ''"
            >
             <app-avatar [username]="user.email" [size]="64" class=""></app-avatar>
            </td>
            <td class="select-all transition ease-in-out duration-300 text-white hover:text-spanish-viridian hover:underline">
              {{ user.email | truncate: 13 }}
            </td>
            <td class="hidden sm:table-cell select-all">
              {{ user.firstName | truncate: 12 }}
            </td>
            <td class="hidden sm:table-cell select-all">
              {{ user.lastName | truncate: 12 }}
            </td>
            <td [ngClass]="index === users().length - 1 ? 'rounded-br-xl' : ''">
              <div class="flex w-full h-full justify-center items-end">
                <button
                  class="rounded-lg px-2 py-1 border-spanish-viridian text-spanish-viridian font-bold border-2 transition ease-in-out duration-300 hover:bg-opacity-100 hover:text-white bg-spanish-viridian bg-opacity-5"
                  (click)="goToChat(user)"
                >
                  ↩
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
